# Docker Compose / Spring configuration
SERVER_PORT=8081

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=stentio
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

# MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=changeme

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Mailhog configuration
MAILHOG_PORT_SMTP=1025
MAILHOG_PORT=8025
